
<div class="d-flex justify-content-center">
    <h1>home page</h1>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" id="btn">Log Parking Spot</button>
</div>


<script src="/scripts/createSpot.js"></script>