
<div class="d-flex justify-content-center m-2">
    <h1 class="center-text">WELCOME TO PARK</h1>
</div>
<div class="d-flex justify-content-center m-2">
    <h5 class="center-text">This application will help you remember where you parked and then give you directions back to your parking spot.</h5>
</div>
<div class="d-flex justify-content-center m-2">
    <h5 class="center-text">After you have parked your car. Click on the button below to remember the parking spot.</h5>
</div>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" id="btn">Log Parking Spot</button>
</div>


<script src="/scripts/createSpot.js"></script>