<link href="/css/nav.css" rel="stylesheet" type="text/css">



<!--The div element for the map -->
<div id="map"></div>

<div id="directionsPanel"></div>

<div class="d-flex justify-content-center"><button id="navBtn" type="button" class="btn btn-primary">Get directions</button></div>

<script src="/scripts/nav.js"></script>